.cask/
var/
/auto-save-list/
/eshell/
recentf
/projectile-bookmarks.eld
/caches-and-saves/
/projectile.cache
/url/
/elpa/
/helm-adaptive-history
.org-id-locations
.emacs.desktop*
/magithub/cache
/transient/history.el
/.last-package-update-day
/local.el
/elpy/
/games/
/tutorial/
